.leftsidebar_container {
    /* background-color: #fff; */
    /* border-right: 1px solid rgb(215, 208, 208); */
    max-width: 12rem;
    height: 100vh;
    position: fixed;
    top: 5rem;
    background: #933939;
    padding-top: 3rem;
}

.leftsidebar_links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    /* padding-left: 2rem; */
    
}

.link_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.link_div svg {
    
}

.leftsidebar_container a {
    color: #fff;
    padding: 0.7rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    transition: 300ms all;
}

.leftsidebar_container a:hover {
    background: #8b3333;
}

.active_leftsidebar_link {
    background-color: #430d0d;
    
}

.logout_space {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 4rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    opacity: 0.7;
    transition: 300ms all;
}

.logout_space:hover {
    opacity: 1;
}


@media (max-width:565px) {

    .leftsidebar_container a {
        
        padding: 0.7rem 1.5rem;
    }

    .link_div p {
        display: none;
    }
}