.input {
    padding: 0.9rem 2rem;
    border-radius: 0.9rem;
    border: none;
    background: #611717;
    color: #fff;
    outline: none;
    margin-block: 1rem;
}


@media (max-width: 660px) {
    .input {
        max-width: 10rem;
        margin-left: -8rem;
    }
}