.activity_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 12rem;
    margin-top: 7rem;
    color: #000;
}

.bars {
    margin-block: 0.5rem;
}

.activity_container h1 {
    margin-bottom: 0.5rem;
}

.activity_container a {
    text-decoration: none;
}

.person_container {
    background: var(--uc1);
    padding: 1rem 6rem;
    color: #000;
    text-decoration: none;
    border-radius: 0.6rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-block: 1rem;
    transition: 300ms all;
}

.person_container:hover{
    background: var(--uch);
}

.person_container img {
    border-radius: 50%;
}

.person_container a {
    color: #fff;
}

.no_activity {

}


@media (max-width: 620px) {
    .activity_container  {
       margin-left: 4rem;
    }
    .person_container {
        padding: 1rem 4rem;
    }
}

@media (max-height:575px) {
    .activity_container {
        margin-left: 6rem;
    }
}