
.thread_card{
    /* background: #6a2222; */
    /* width: calc(100% - 15rem); */
    /* margin-left: 11rem; */
    background-color: #6d8dc407;
}

.thread_card:hover,
.comment_card:hover
 {
    /* background: #5c1b1b; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* .comment_card{
    
    border-left: 1px solid #fff;
} */



.thread_card,
.comment_card
 {
    /* background-color: #282A3A; */
    /* background: #9b3a3a; */
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: 300ms all;
    cursor: pointer;
    /* width: 100%; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* background-color: #5f739507; */
}


.comment_card {
    margin-left: 2rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    background-color: #5f739507;
}


.author_img_link {
    /* give grid */
    /* grid-area: img; */
}

.author_img {
    border-radius: 50%;
    /* background-color: #fff; */
}

.author_name_link {
    /* give grid */
    /* grid-area: name; */
    text-decoration: none;
    color: #000;
}

.author_name {
 font-size: clamp(1rem,1.5vw,1.5rem);   
}


.author_content {
    /* give grid */
    /* grid-area: cont; */
    font-size: clamp(0.7rem,1vw,1.1rem); 
    color: #000;
    margin-block: 0.5rem;
}


.thread_icon_container {

}

.thread_inner_icons svg{
    fill: #6a7da0; 
    opacity: 0.75;
    transition: 300ms all;
    cursor: pointer;
}

.thread_inner_icons svg:hover {
    opacity: 1;
}

.thread_time {
    font-size: clamp(0.7rem,1vw,1.1rem);
    color: gray;
    margin-left: auto;
}