.form_container {
    position: absolute;
    top: 0;
    /* background-color: #211f1f; */
    margin-top: 10rem;
    margin-left: 14rem;
    min-height: 100vh;
    width:50vw;
    width: calc(100% - 25rem);
    text-align: center;
    
}


.thread_label {

} 

.thread_input {
    background: #e6e9ef;
    border: none;
    border-radius: 1rem;
    width: 100%;
    padding-left: 1rem;
    padding-top: 0.5rem;
    color: #000;
    line-height: 1.3rem;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
}

.thread_input:focus {
    outline: none;
}

.thread_btn {
    margin-top: 0.5rem;
    height: 3rem;
    padding: 1rem 4rem;
    border-radius: 0.5rem;
    background-color: var(--btn1);
    border: none;
    color: #fff;
    transition: all 300ms;
}

.thread_btn:hover {
    background-color: var(--btnh1);
    transform: scale(1.02);
}